@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Montserrat", sans-serif;
}

.contenair {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header button {
    border: none;
    background-color: white;
    margin: 0 10px;
    cursor: pointer;

}

.header img {
    width: 24px;
}

.menu {
    width: 400px;
    position: fixed;
    left: -400px;
    transition: left 0.5s ease;
    overflow: auto;
    background-color: white;
    height: 100%;


}

.menu.open {
    left: 0;
}

.boutonClose {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}


ul {
    list-style-type: none;
}

a {
    display: flex;
    align-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

span img {
    position: absolute;
    right: 0;
    width: 20px;

}

.menu-liste ul li {
    font-size: 15px;

}

.menu-liste-image {
    width: 70px;
    margin: 10px;

}

.menu-liste-navigation {
    background-color: #8888881f;
    padding: 20px 0;
}

.menu-liste-navigation a {
    padding: 15px 10px;

}

.btn-quantité {
    position: relative;
}

.quantité-bag {
    color: white;
    position: absolute;
    right: 8px;
    bottom: 5px;
}