@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

.contenair {
    /* position: relative; */
    /* flex-grow: 1; */
}

header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 11;
}
.header-titre-page{
    color: black;
}

.livraison-gratuite {
    height: 30px;
    background-color: black;
    color: white;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.header button {
    border: none;
    background-color: white;
    margin: 0 10px;
    cursor: pointer;

}

.header img {
    width: 24px;
}
/*  */
.recherche{
    width: 400px;
    position: fixed;
    left: -400px;
    top: 0;
    bottom: 0;
    transition: left 0.5s ease;
    overflow: auto;
    background-color: rgb(12, 12, 12);
    z-index: 22;
    
}
.recherche.ouvert{
    left: 0;
}
/*  */
.menu {
    width: 400px;
    position: fixed;
    left: -400px;
    top: 0;
    bottom: 0;
    right: 0;
    transition: left 0.5s ease;
    overflow: auto;
    background-color: white;
    z-index: 20;


}

.menu.active {
    left: 0;
}

.menu.active+.contenair {
    opacity: 0.8;
}

.boutonClose {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
}




.menu-liste a {
    display: flex;
    align-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px 5px;
}

span img {
    position: absolute;
    right: 0;
    width: 20px;

}

.menu-liste-image {
    width: 70px;
    margin: 10px;

}

.menu-liste-navigation {
    background-color: #8888881f;
    margin: 20px 0;
    padding: 10px 0;
}

.menu-liste-navigation :nth-child(even) {
    background-color: rgba(128, 128, 128, 0.047)
}

.menu-liste-navigation a {
    display: flex;
    align-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px 5px;

}


.btn-quantité {
    position: relative;
}

.quantité-bag {
    color: white;
    position: absolute;
    right: 9px;
    bottom: 5px;
    font-size: 13px;
}

.panier {
    width: 400px;
    height: 100%;
    position: fixed;
    right: -400px;
    top: 0;
    left: auto;
    bottom: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* text-align: center; */
    background-color: rgb(255, 255, 255);
    transition: all 0.5s ease;
    overflow: auto;
    z-index: 20;
}

.panier-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 30px;
    height: 30px;
    background-color: white;
    cursor: pointer;


}

.panier.open {
    right: 0
}

/* 
.panier.open .contenair {
    opacity: 0.5;
} */

.panier h3 {
    margin: 20px 0;
    font-weight: 900;
}

.panier-image {
    width: 40px;
}

.quantité-bag-panier {
    position: absolute;
    top: 30px;
    right: 194px;
    color: white;
}

.btn-explorez-produits {
    padding: 20px;
    background-color: yellow;
    border: none;
    font-weight: 800;
}

.prduitPanier {
    position: relative;
}

.header-liste ul {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    list-style-type: none;
    padding-bottom: 12px;
}

.header-liste li {
    border: none;
    font-size: 12px;
    color: black;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    padding: 0 10px;
}


.titrePage {
    text-align: center;
    background-color: #8888881f;
    padding: 50px 0;
}

.paragraphe-voir-plus {
    margin: 20px 150px;
}

.titrePage h2 {
    font-size: 3rem;
    font-weight: 700;
}

.titrePage button {
    border: none;
    text-decoration: underline;
    font-weight: bold;
    font-size: 0.9rem;
}

.titrePageOffre {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 0.9rem;
    padding: 15px 0;
    margin-bottom: 50px;
}

.liste-produits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.produit img:nth-child(1) {
    /* width: 280px; */
}

.bagPlus {
    position: absolute;
    right: 40px;
    bottom: 25px;
    width: 25px;
    opacity: 0.5;
}

.produit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    text-align: center;
    position: relative;
    width: 330px;
    height: 430px;


}

.imageClasse {
    width: 280px;
    cursor: pointer;
}

.produit img h4 {
    font-weight: bold;
}

.catégorieClasse {
    margin: 20px 0;
    font-size: 13px;
}

.prixClasse {
    font-weight: bold;

}


.titreClasse {
    font-weight: bold;
}

.footer-insta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8888881f;
    padding: 20px 0;

}

.logo-insta {
    width: 50px;
    border-radius: 50%;
    padding: 5px;

}

.footer-promesse {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 60px 0;
}

.footer-promesse img {
    width: 30px;
}

.slideshow-contenair {
    overflow: hidden;
    min-height: 30vmin;
    /* cursor: grab; */
    position: relative;

}

/* .slideshow-contenair:active {
    cursor: grabbing;

} */


.slideshow {
    position: absolute;
    height: 100%;
    display: flex;
}

.slide {
    flex-shrink: 0;
    height: 100%;
    width: 30vmin;
    background-size: contain;
    position: relative;
}

.s1 {
    background-image: url("/images/photo1.avif");
}

.s2 {
    background-image: url("/images/photo12.avif");
}

.s3 {
    background-image: url("/images/photo3.avif");
}

.s4 {
    background-image: url("/images/photo4.avif");

}

.s5 {
    background-image: url("/images/photo5.avif");
}

.s6 {
    background-image: url("/images/photo6.avif");
}

.s7 {
    background-image: url("/images/photo7.avif");
}

.s8 {
    background-image: url("/images/photo8.avif");
}

.s9 {
    background-image: url("/images/photo9.avif");
}

.s10 {
    background-image: url("/images/photo10.avif");
}

.s12 {
    background-image: url("/images/photo12.avif");

}

.contenair-footer {
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: #999;
    background: #4c4c4c;
}

.footer-logo h5 {
    font-size: 20px;
    margin: 30px 0 15px 0;
}

.footer-logo p {
    margin: 15px 0;
    font-weight: 300;

}


.footer-paiement img {
    width: 45px;
}

.footer-logo-image {
    background-color: #626262;
    border-radius: 50%;
    height: 45px;
}

.footer-paiement p {
    color: white;
    font-size: 15px;
    margin-top: 30px;

}
.footer-ul{
    display: flex;
    justify-content: space-around;
    width: auto;
}
.footer-1-ul, .footer-2-ul, .footer-3-ul{
    display: flex;
    margin: 0 20px;
}

.contenair-footer ul {
    text-align: left;
    margin-top: 30px;
}

.contenair-footer li {
    margin-bottom: 15px;
    font-size: 13px;
    cursor: pointer;
}

.contenair-footer li:nth-child(1) {
    color: white;
}

.panier-vide {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.contenuePanier {
    background-color: #8888881f;
}

.item img {
    border: 1px solid black;
    width: 95px;
   margin: 0 20px;
}

.item {
    display: flex;
     /* margin: 20px 0; */
    padding: 16px 0 
    /* margin-bottom: 35px; */
}

.titreClassePanier {
    font-weight: bold;
}

.panierSansImage {
    /* padding-left: 20px; */

}

.catégorieClassePanier {
    font-size: 12px;
    padding: 5px 0;
}

.totalPanier {
    padding-bottom: 15px;
}

/* .totalPanier::before {
    content: "TOTAL : "
}

.totalPanier::after {
    content: " €"
} */

.totalPricePanier {
    font-weight: bold;
    padding-bottom: 5px;
}

.plus,
.minus {
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.plus {
    padding-left: 5px;
}

.minus {
    padding-right: 5px;
}

@media screen and (max-width: 800px) {
    
    .header-liste li{
        padding: 0 5px;
        font-size: 10px;    
    }.produit{
        width: 280px;
        height: 370px;
    }.produit img:nth-child(1) {
        width: 230px;
    }

.contenair-footer{

    display: block;
}.footer-ul{
    display:flex;
    justify-content: space-around;
}
.contenair-footer li{
    font-size: 10px;
    margin-bottom: 10px;
}.footer-logo h5 {
    font-size: 15px;
    margin: 20px 0 15px 0;
}

.footer-logo p {
    margin: 15px 0;
    font-size: 12px;

}


.footer-paiement img {
    width: 30px;
}

.footer-logo-image {
    height: 30px;
}

.footer-paiement p {
    font-size: 15px;
    margin-top: 15px;

}
    


}

@media (max-width: 580px) {
    .header-liste li{
        padding: 0 5px;
        font-size: 6px;    
    }
    .titrePage {
        padding: 30px 0;
    }
    
    .paragraphe-voir-plus {
        margin: 20px 0;
    }
    
    .titrePage h2 {
        font-size: 2.5rem;
    }
    
    .produit{
        width: 180px;
        height: 300px;
    }.produit img:nth-child(1) {
        width: 170px;
    }
    
    .footer-promesse img {
        width: 20px;
    }
    .footer-promesse p{
        font-size: 12px;
    }
    
    .contenair-footer li{
        font-size: 8px;
        margin-bottom: 8px;
    }
    .footer-logo h5 {
        font-size: 10px;
        margin: 10px 0;
    }
    
    .footer-logo p {
        margin: 10px 0;
        font-size: 8px;
    
    }
    .footer-paiement b{
        font-size: 8px;

    }.footer-paiement p {
        margin: 1px;
    
    }
    .footer-paiement br{
        display: none;
    }
    
    .footer-paiement img {
        width: 25px;
    }
    
    .footer-logo-image {
        height: 25px;
    }
    
    
} 
